html body {
    height: 100%;
}

.hidden.menu {
    display: none !important;
}

.masthead.segment {
    height: 100%;
    padding: 1em 0em;
}

.masthead.segment .grid {
    min-height: 85%;
    overflow: hidden;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead img.ui.image {
    margin-top: 8em;
    margin-bottom: 0;
}

.masthead h1.ui.header {
    font-size: 3em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.75em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.footer.segment {
    padding: 5em 0em;
}

.ui.left.floated {
    margin-left: 1.25em !important;
}

.ui.right.floated {
    margin-right: 1.25em !important;
}

.column.login {
    max-width: 450px;
}

.profile.image {
    width: 12em;
}

.ui.button > input {
    display: none;
}

.ui.button label {
    cursor: pointer;
}

.ui.form .inline.fields {
    margin: 0;
}

.ui.floating.label {
    top: 0.25em;
    right: 1em;
}

.ui.button.dropdown .menu {
    min-width: max-content !important;
}

.ui.menu .item img.logo {
    margin-right: 1em !important;
}

.toc.left.item {
    display: flex !important;
}

@media only screen and (max-width: 700px) {
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
    .menu .logo.header.item {
        display: none !important;
    }
}
